<div class="field-unit__label">
  <%= f.label "Location" %>
</div>
<div class="field-unit__field">
	<hr/>
	
	<input id="searchTextField" type="text" size="50" placeholder="Search for a destination"><br/>
	<div id="map" class="map"></div><br/>
  
  <b>Latitude</b>
  <%= f.text_field 'location_lat', value: field.latitude %><br/>
  <b>Longitude</b>
	<%= f.text_field 'location_lng', value: field.longitude %>
	<hr/>
	
</div>