<div class="shadow bg-white rounded mt-1 mr-4 mb-1 ml-4">
  <div class="testimonials">
    <div class="card">
      <%= image_tag testimonial.image_url, class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title"><%= testimonial.title %></h5>
        <p class="card-text"><%= testimonial.bio %></p>
        <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="<%= testimonial.audio_url %>"></iframe>
      </div>
    </div>
  </div>
</div>